<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniu.team2project.mapper.SxMapper">

	<!-- 新增事项 -->
	<insert id="insertSx">
		insert into tb_sx values
			(#{sx_id},#{sx_name},#{sx_type.sx_type_id},#{sx_status.sx_status_id},
			#{sx_time},#{founder.user_id},#{sx_content},#{sx_remark},#{urgency.urgency_id},
			#{county.county_id},#{industry.industry_id},#{sx_end_time},#{office.office_id},#{area.area_id});
	</insert>
	
	<!-- 根据主键删除事项 -->
	<delete id="deleteSx">
		update tb_sx set sx_status_id=8 where sx_id=#{sx_id}
	</delete>

	<!-- 更改事项 -->
	<update id="updateSx">
		update tb_sx set 
			sx_name= #{sx_name},sx_type_id= #{sx_type.sx_type_id},sx_status_id=#{sx_status.sx_status_id},sx_time=#{sx_time},
			sx_founder_id=#{founder.user_id},sx_content=#{sx_content},sx_remark=#{sx_remark},sx_urgency_id=#{urgency.urgency_id},
			county_id=#{county.county_id},industry_id=#{industry.industry_id},sx_end_time=#{sx_end_time},office_id=#{office.office_id},
			area_id = #{area.area_id}
		where sx_id= #{sx_id}
	</update>
	
	<update id="updateSxStatus">
		update tb_sx set sx_status_id=#{sx_status_id} where sx_id= #{sx_id}
	</update>
	
	<!-- 分页条件查询“事项”1.查询 2.装配 3.SQL条件-->
	<select id="selectSxByConditionPage" resultMap="SxMapper">
		select * from tb_sx 
		<include refid="sqlcondition"/>
	</select>
	
	<!-- 2. 装配事项 -->
	<resultMap type="Sx" id="SxMapper">
		<id column="sx_id" property="sx_id"/>
		<result column="sx_name" property="sx_name"/>
		<result column="sx_time" property="sx_time"/>
		<result column="sx_content" property="sx_content"/>
		<result column="sx_remark" property="sx_remark"/>
		<result column="sx_end_time" property="sx_end_time"/>
		<association property="sx_type" javaType="Sx_type" select="selectSx_typeBySx_type_id" column="sx_type_id"/>
		<association property="sx_status" javaType="Sx_status" select="selectSx_statusBySx_status_id" column="sx_status_id"/>
		<association property="founder" javaType="User" select="selectUserByUser_id" column="sx_founder_id"/>
		<association property="urgency" javaType="Urgency" select="selectUrgencyByUrgency_id" column="sx_urgency_id"/>
		<association property="county" javaType="County" select="selectCountyByCounty_id" column="county_id"/>
		<association property="industry" javaType="Industry" select="selectIndustryByIndustry_id" column="industry_id"/>
		<association property="office" javaType="Office" select="selectOfficeByOffice_id" column="office_id"/>
		<association property="area" javaType="Area" select="selectAreaByarea_id" column="area_id"/>
	</resultMap>
	<select id="selectSx_typeBySx_type_id" resultType="Sx_type">
		select * from tb_sx_type where sx_type_id=#{sx_type_id}
	</select>
	<select id="selectSx_statusBySx_status_id" resultType="Sx_status">
		select * from tb_sx_status where sx_status_id=#{sx_status_id}
	</select>
	<select id="selectUserByUser_id" resultType="User">
		select * from tb_user where user_id=#{sx_founder_id}
	</select>
	<select id="selectUrgencyByUrgency_id" resultType="Urgency">
		select * from tb_urgency where urgency_id=#{sx_urgency_id}
	</select>
	<select id="selectCountyByCounty_id" resultType="County">
		select * from tb_county where county_id=#{county_id}
	</select>
	<select id="selectIndustryByIndustry_id" resultType="Industry">
		select * from tb_industry where industry_id=#{industry_id}
	</select>
	<select id="selectOfficeByOffice_id" resultType="Office">
		select * from tb_office where office_id=#{office_id}
	</select>
	<select id="selectAreaByarea_id" resultType="Area">
		select * from tb_area where area_id=#{area_id}
	</select>
	
	<!-- 二级层没有装配 -->
	<!-- 3. SQL条件 -->
	<sql id="sqlcondition">
		<where>
			<if test="sx_name != null and sx_name !=''">
				and sx_name like '%' #{sx_name} '%'
			</if>
			<if test="sx_type != null and sx_type.sx_type_id != null and sx_type.sx_type_id !=''">
				and sx_type_id = #{sx_type.sx_type_id}
			</if>
			<if test="sx_status != null and sx_status.sx_status_id != null and sx_status.sx_status_id !=''">
				and sx_status_id = #{sx_status.sx_status_id}
			</if>
			<!-- 时间区间查询:就用前端的事项开始和结束时间来当做：事项开始时间的查询区间-->
			<if test="sx_time != null">
				and sx_time &gt;= #{sx_time}
			</if> 
			<if test="sx_end_time != null">
				and sx_time &lt;= #{sx_end_time}
			</if>
			<if test="urgency != null and urgency.urgency_id != null and urgency.urgency_id !=''">
				and sx_urgency_id = #{urgency.urgency_id}
			</if>
			<if test="county != null and county.county_id != null and county.county_id !=''">
				and county_id = #{county.county_id}
			</if>
			<if test="industry != null and industry.industry_id != null and industry.industry_id !=''">
				and industry_id = #{industry.industry_id}
			</if>
			<if test="office != null and office.office_id != null and office.office_id !=''">
				and office_id = #{office.office_id}
			</if>
			<if test="area != null">
				and area_id = #{area.area_id}
			</if>
			and sx_status_id != 8
		</where>
	</sql>
	
</mapper>