<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>事项状态</title>
<link rel="stylesheet" href="../bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="../css/menu.css" />
<script type="text/javascript" src="../js/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
<style type="text/css">
</style>

<script type="text/javascript">
	$(function() {
		//ajax刷事项类型
		$.post("/allsx_type", null, function(d) {//回调函数
			$(d).each(
					function() {
						var html = "<option value='"+this.sx_type_id+"'>"
								+ this.sx_type_name + "</option>";
						$(html).appendTo($("#sx_type"));
					});
		});
		//ajax刷 紧急程度
		$.post("/allurgency", null, function(d) {//回调函数
			$(d).each(
					function() {
						var html = "<option value='"+this.urgency_id+"'>"
								+ this.urgency_name + "</option>";
						$(html).appendTo($("#urgency"));
					});
		});
	});
</script>
</head>
<body>
	<div id="box">
		<select id="sx_type" name="sx_type_id" class="form-control">
			<option value="${sx.sx_type.sx_type_id}">[[${sx.sx_type.sx_type_name}]]</option>
		</select> <select id="urgency" name="urgency">
			<option value="${sx.urgency.urgency_id}">[[${sx.urgency.urgency_name}]]</option>
		</select>
	</div>
</body>
</html>