<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>事项详情</title>
		<link rel="stylesheet" href="../bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="../css/menu.css" />
		<script type="text/javascript" src="../js/jquery-2.2.3.min.js"></script>
		<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
		<style type="text/css">
			#newproject_table{
				width: 900px;
				height: 400px;
			}
			.form-control{
				width: 400px;
			}
			#newproject_textarea{
				resize: none;
			}
			#newproject_area{
				width: 200px;
			}
			#newproject_county{
				width: 200px;
			}
			.projectdetail_table{
				border: 0;
			}
		</style>
	</head>
	<body>
		<h4>事项详情</h4>
		<a th:href="@{/editproject(sx_id=${sx.sx_id})}">更改事项</a>
		<form action="" method="post">
			<div  id="newproject_table">
				<table class="projectdetail_table" style="margin-top: 20px;">
					<tr>
						<td width="200px">事项名称：</td>
						<td>
							<fieldset disabled>
							<div>
								<input class="form-control" type="text" th:value="${sx.sx_name}">
							</div>
							</fieldset>
						</td>
					</tr>
					<tr>
						<td>项目类型：</td>
						<td>
							<!-- <select name="sx_type"> -->
							<fieldset disabled>
							<div>
								<input class="form-control" th:value="${sx.sx_type.sx_type_name}">
							</div>
							</fieldset>
						</td>
					</tr>
					<tr>
						<td>区县：</td>
						<td>
							<!-- <select name="county"> -->
							<fieldset disabled>
							<div>
								<input class="form-control" type="text" th:value="${sx.county.area.area_name}">
							</div>
							</fieldset>
							<fieldset disabled>
							<div>
								<input class="form-control" type="text" th:value="${sx.county.county_name}">
							</div>
							</fieldset>
						</td>
					</tr>
					<tr>
						<td>行业：</td>
						<td>
							<!--<select name="industry"> -->
							<fieldset disabled>
							<div>
								<input class="form-control" type="text" th:value="${sx.industry.industry_name}">
							</div>
							</fieldset>
						</td>
					</tr>
					<tr>
						<td>事项发起人：</td>
						<td>
							<fieldset disabled>
								<div >
									<input type="text" id="disabledTextInput" class="form-control" th:value="${sx.founder.user_name}">
								</div>
							</fieldset>
						</td>
					</tr>
					<tr>
						<td>审核领导：</td>
						<td>
							<fieldset disabled>
								<div >
									<input type="text" id="disabledTextInput" class="form-control" th:value="${sendLeader}">
								</div>
							</fieldset>
						</td>
					</tr>
					<tr>
						<td>接收单位</td>
						<td>
							<fieldset disabled>
							<div>
								<input class="form-control" type="text" th:value="${sx.office.office_name}" >
							</div>
							</fieldset>
						</td>
					</tr>
					<tr>
						<td>接收单位负责人</td>
						<td>
							<fieldset disabled>
								<div >
									<input type="text" id="disabledTextInput" class="form-control"  th:value="${receiveLeader}">
								</div>
							</fieldset>
						</td>
					</tr>
					<tr>
						<td>事项结束时间</td>
						<td>
							<fieldset disabled>
							<div >
								<input type="text"  class="form-control" th:value="${sx.sx_end_time}" >
							</div>
							</fieldset>
						</td>
						
					</tr>
					<tr>
						<td>紧急程度：</td>
						<td>
							<fieldset disabled>
							<div>
								<input class="form-control" type="text" th:value="${sx.urgency.urgency_name}">
							</div>
							</fieldset>
						</td>
					</tr>
					<tr>
						<td>内容：</td>
						<td>
							<fieldset disabled>
							<div class="form-group">
			                	<textarea id="newproject_textarea" class="form-control" rows="3" th:text="${sx.sx_content}">
			                	
			                	</textarea>
			           	 	</div>
							</fieldset>
						</td>
					</tr>
					<tr>
						<td>备注：</td>
						<td>
							<fieldset disabled>
							<div>
								<input class="form-control" type="text" th:value="${sx.sx_remark}">
							</div>
							</fieldset>
						</td>
					</tr>
				</table>
			<div class="form-group">
				<button>文件下载</button>
			</div>
			</div>
		</form>
	</body>

</html>
