<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>登录</title>
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="../js/jquery-2.2.3.min.js"></script>
<script>
//页面加载完成后
 $(function(){
	//给account绑定失去焦点事件
	$("#account").blur(function(){
		//获取account文本输入框的值
		var account=$(this).val();
		$.post("/loginname",{account:account},function(data){
			//判断
			var span=$("#spans");
			if(data.userExsit){
				//用户名存在
				span.css("color","red");
				span.html(data.msg);
			}else{
				span.css("color","green");
				span.html(data.msg);
			}
		});
	});
 });
 </script>
<style type="text/css">

.myDiv {
	width: 336px;
	height: 290px;
	margin-top: 402px;
	margin-left: 806px;
	position: absolute;
	border-radius: 5px;
}
.inputText {
	border: 0px;
	border-bottom: 1px solid #8ad2a3;
	font-size: 18px;
	line-height: 50px;
	width: 100%;
	outline:none;
}
.inputBtn {
	margin-top: 30px;
	font-size: 24px;
	-moz-box-shadow: 0px 20px 30px #4de5a4; /* 老的 Firefox */
	box-shadow: 0px 20px 30px #4de5a4;
	background: linear-gradient(to right, #4de5a4 , #15a54d);
}
</style>
</head>
<body style="background: url('img/login.png') no-repeat;">
	
	<div class="myDiv">
		<form method="post" th:action="@{/user}">
		<input type="text" class="inputText" name="account" id="account" placeholder="请输入账号" autofocus value="admin" style="margin-top: 30px;"/><br>
		<span id="spans">[[${msg}]]</span>
		<input type="password" class="inputText" name="password" id="pwd" placeholder="请输入密码" value="feicui123" style="margin-top: 60px;"/><br>
		<span id="spans">[[${msg}]]</span>
		<a th:href="@{/registered}" class="myregistered">注册</a>
		<input type="submit" class="btn btn-success btn-lg btn-block inputBtn" value="登录" /><!-- onclick="javascript:location.href='system/index/index.html'" -->
		</form>
	</div>
</body>
<script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
</html>