<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />
<style type="text/css">
	table td{text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
</style>
<title>我的专报</title>
</head>
<body>
	<div class="container" style="width: 100%;padding: 25px 15px;">
		<div class="row clearfix">
			<div class="col-md-12 column" style="padding: 20px;padding-top: 0px;">
				<ul id="noticeTab" class="nav nav-tabs">
						<li class="active"><a href="#publishNotice" data-toggle="tab">发布的专报</a></li>
						<li><a href="#receivePublish" data-toggle="tab">待审批的专报</a></li>
				</ul>
				<div id="noticeTabContent" class="tab-content">
						<div class="tab-pane fade in active" id="publishNotice">
							<table class="table table-bordered" style="margin-top: 20px;">
								<thead>
									<tr>
										<th>序号</th>
										<th style="width: 300px;">标题</th>
										<th>内容</th>
										<th style="width: 100px;">状态</th>
										<th style="width: 100px;">操作</th>
									</tr>
								</thead>
								<tbody id="publishTable">
									<tr>
										<td>1</td>
										<td>攻打白宫</td>
										<td>关于7月19日攻打白宫出多少兵的问题</td>
										<td>已审核</td>
										<td>
											<a href="noticeDetail.html" class="btn btn-primary btn">修改</a>
										</td>
									</tr>
									
								</tbody>
							</table>
							<div id="publishPage"></div>
						</div>
						<div class="tab-pane fade" id="receivePublish">
							<table class="table table-bordered" style="margin-top: 20px;">
								<thead>
									<tr>
										<th>序号</th>
										<th style="width: 300px;">标题</th>
										<th>内容</th>
										<th style="width: 100px;">发布人</th>
									</tr>
								</thead>
								<tbody id="receiveTable">
									<tr>
										<td>1</td>
										<td>攻打白宫</td>
										<td>关于7月19日攻打白宫出多少兵的问题</td>
										<td>小泉</td>
									</tr>
								</tbody>
							</table>
							<div id="receivePage"></div>
						</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="../js/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/notice.js"></script>
</html>