<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title></title>
		<link href="../css/papers.css" rel="stylesheet" type="text/css" media="all"/>
		<script src="../js/jquery-2.2.3.min.js"></script>
		<script src="../js/jquery-2.2.3.js"></script>
		<script type="text/javascript" src="../js/papers.js"></script>
	</head>
	<body>
		<div id="f">
			<div id="f1">
				<div id="f1_a1">
						时&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;间：<input type="text" />
						文件类型：<input type="text" />
						文件名称：<input type="text" /><br />
						上&nbsp;传&nbsp;人：<input type="text" />
						模块名称：<input type="text" />
						对应事项：<input type="text" /><br />
						查&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;找：<input type="button" value="确认"/>
				</div>
			</div>
			
			<div id="f2">
				<div id="f2_a1">文件管理</div>
				<div id="f2_a2">
					<div id="f2_a2_a1">文件名</div>
					<div id="f2_a2_a2">上传人</div>
					<div id="f2_a2_a3">上传时间</div>
					<div id="f2_a2_a4">相关事项</div>
					<div id="f2_a2_a5">操作</div>
				</div>
			
				<div id="f2_a3"></div>
				<div id="f2_a3">
					<div id="f2_a3_a1">a.txt</div>
					<div id="f2_a3_a2">张三</div>
					<div id="f2_a3_a3">时间</div>
					<div id="f2_a3_a4">
						<div id="f2_a3_a4_a1">相关事项</div>
					</div>
					<div id="f2_a3_a5">
						<div id="f2_a3_a5_a1">删除</div>
						<div id="f2_a3_a5_a2">下载</div>
					</div>
				</div>
			</div>
			<div id="f3">
				<div id="f3_a1">ip</div>
			</div>
		</div>
	</body>
</html>
