<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />
<title>通知公告详情</title>
<style type="text/css">
	.inputText{width: 430px !important;}
	.rowDiv{margin-bottom: 15px;}
	.col-sm-1 control-label{width: 80px;text-align: right;}
</style>
</head>
<body>
<div class="container" style="width: 100%;padding: 25px 15px;">
		<div class="row clearfix">
			<div class="col-md-12 column" style="padding: 20px;padding-top: 0px;">
				<form th:action="@{/add/user_notice}" method="post" id="noticeForm" enctype="multipart/form-data" role="form" class="form-horizontal" style="margin-bottom: 10px;">
					<div id="userInfoDiv" class="form" style="padding:5px;">
						<div class="row rowDiv">
							<div class="col-sm-12">
								<div class="form-group">
									<label class="col-sm-1 control-label" for="account">标题：<span style="color: red;">*</span></label>
										<input type="hidden" name="id" value=""/>
									<div class="col-sm-11">
										<input type="text" class="form-control" name="user_nt_title" value="攻打白宫">
									</div>
								</div>
							</div>
						</div>
						<div class="row rowDiv">
							<div class="col-sm-12">
								<div class="form-group">
									<label class="col-sm-1 control-label" for="content">内容：<span style="color: red;">*</span></label>
									<div class="col-sm-11">
										<textarea class="form-control" id="content" name="user_nt_content" rows="10" style="resize: none;">关于7月19日攻打白宫出多少兵的问题</textarea>
									</div>
								</div>
							</div>
						</div>
						<div class="row rowDiv">
							<div class="col-sm-12">
								<div class="form-group">
									<label class="col-sm-1 control-label" for="realName">发布人</label>
									<!-- 发布人，取出session域中的user，将id传递过去 -->
									<div class="col-sm-11">
										<input type="text" class="form-control" id="realName" name="realName" value="小普">
									</div>
								</div>
							</div>
						</div>
						<div class="row rowDiv">
							<div class="col-sm-12">
								<div class="form-group">
									<label class="col-sm-1 control-label" for="mobile">接收人</label>
									<!-- 在数据库中查询所有用户，下拉框选择出来 -->
									<div class="col-sm-11">
											<input type="text" name="user_nt_recender.user_id" class="form-control" value="小泉"/>&nbsp;&nbsp;&nbsp;&nbsp;
									</div>
								</div>
							</div>
						</div>
						<div class="row rowDiv">
							<div class="col-sm-12">
								<div class="form-group">
									<label class="col-sm-1 control-label">事项：</label>
									<div class="col-sm-11">
										<select name="sx">
											<option th:each="sx:${sxs}" th:text="${sx}" th:value="${sx}">
										</select>
									</div>
								</div>
							</div>
						</div>
							<div class="row">
								<div class="col-sm-12">
									<div class="form-group">
										<input type="submit" class="btn btn-primary btn" value="提交" />
									</div>
								</div>
							</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="../js/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/notice.js"></script>

</html>