<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
<script type="text/javascript" th:src="@{/js/jquery-2.2.3.js}"></script>
<title>日程安排</title>
<script type="text/javascript">
	function operation(){
	    alert("亲,该功能正在开发中");
	    }
	$(function(){
		//点击超链接提交表单
		$(".change").click(function(){
			$("#changezb").attr("action",$(this).attr("puturi")).submit();
		});
	}); 
	
</script>
</head>
<body>
<div class="container" style= "width: 100%;padding: 25px 15px;" >
    <div class="row clearfix">
        <div class="col-md-12 column" style="padding: 20px;">
            <div style="float: left;">
                 <a th:href="@{/zbadd}"><input type="button" class="btn btn-primary btn"  onclick="operation()" value="添加" /></a> 
                 <a th:href="@{/zbmine}"><input type="button" class="btn btn-primary btn"  onclick="operation()" value="查询我的专报" /></a> 
            </div>
  			
            <table class="table table-bordered" style="margin-top: 20px;">
                <thead>
                    <tr>
                        <th style="width: 150px;">专报内容</th>
                        <th>专报备注</th>
                        <th>申请时间</th>
                        <th>审批时间</th>
                        <th>状态</th>
                        <th>创建者</th>
                        <th>接收者</th>
                        <th>事项</th>
                        <th style="width: 150px;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="zb:${zbPage.list}">
                        <td th:text="${zb.zb_remark}"></td>
						<td th:text="${zb.zb_content}"></td>
						<td >[[${#dates.format(zb.zb_sb_time,"yyyy-MM-dd")} ]]</td>
						<td >[[${#dates.format(zb.zb_ps_time,"yyyy-MM-dd")} ]]</td>
								
						<td th:text="${zb.zb_state.zb_state_name}"></td>
						<td th:text="${zb.zb_founder.user_name}"></td>
						<td th:text="${zb.zb_recender.user_name}"></td>
						<td th:text="${zb.zb_sx.sx_name}"></td>
                        <td>
                        	 <a href="#" th:attr="puturi=@{/zbdelete/}+${zb.zb_id}" class="btn btn-primary btn change">删除</a><br/> 
                        </td>
                    </tr>
                </tbody>
            </table>
            <form id="changezb" method="post">
				<input type="hidden" name="_method" value="put" />
			</form> 
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="@{/js/jquery-2.2.3.min.js}"></script>
<script type="text/javascript" src="@{/bootstrap/js/bootstrap.min.js}"></script>
</html>