<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"
	type="text/css"  />
<title>添加通知公告</title>
<style type="text/css">
.inputText {
	width: 830px !important;
}

.rowDiv {
	margin-bottom: 15px;
}

.form-lavel {
	width: 80px;
	text-align: right;
}

</style>
<script type="text/javascript">


</script>
</head>
<body>
	<div class="container" style="width: 100%; padding: 25px 15px;">
		<div class="row clearfix">
			<div class="col-md-12 column"
				style="padding: 20px; padding-top: 0px;">
				<form action="/addonezb" method="post" id="noticeForm"
					enctype="multipart/form-data" role="form" class="form-horizontal"
					style="margin-bottom: 10px;">
					<div id="userInfoDiv" class="form" style="padding: 5px;">
						<div class="row rowDiv">
							<div class="col-sm-12">
								<div class="form-group">
									<label class="col-sm-1 control-label" for="content"
										style="padding-top: 0px;">内容：<span style="color: red;">*</span></label>
									<div class="col-sm-11">
										<textarea class="form-control" id="content" name="zb_content"
											rows="10" style="resize: none;"></textarea>
									</div>
								</div>
							</div>
						</div>
						<div class="row rowDiv">
							<div class="col-sm-12">
								<div class="form-group">
									<label class="col-sm-1 control-label" for="content"
										style="padding-top: 0px;">备注：<span style="color: red;">*</span></label>
									<div class="col-sm-11">
										<textarea class="form-control"  name="zb_remark"
											rows="10" style="resize: none;"></textarea>
									</div>
								</div>
							</div>
						</div>
						<div class="row rowDiv">
							<div class="col-sm-12">
								<div class="form-group">
									<label class="col-sm-1 control-label" for="mobile"
										style="padding-top: 0px;">接收人：<span
										style="color: red;">*</span></label>
									<div class="col-sm-11">
										<select name="zb_recender.user_id" style="width:300px">
											<option th:each="user:${users}" th:value="${user.user_id}" >
											[[${user.user_name}]]</option>
										</select><br/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-1 control-label" for="mobile"
										style="padding-top: 0px;">相关事项：<span
										style="color: red;">*</span></label>
									<div class="col-sm-11">
										<select name="zb_sx.sx_id" style="width:300px">
											<option th:each="sx:${sxs}" th:value="${sx.sx_id}" >
											[[${sx.sx_name}]]</option>
										</select><br/>
									</div>
								</div>
							</div>
							<div class="row rowDiv">
								<div class="col-sm-12">
									<div class="form-group">
										<label class="col-sm-1 control-label"
											style="padding-top: 0px;">附件：</label>
										<div class="col-sm-11">
											<input type="file" name="file" style="display: inline-block;">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<div class="form-group" style="padding-left: 30px;">
										<input type="submit" class="btn btn-primary btn" value="发布" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" th:src="@{/js/jquery-2.2.3.min.js}"></script>
<script type="text/javascript"
	th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/notice.js}"></script>
</html>